@lightFlavor: "mocha";
@darkFlavor: "mocha";
@accentColor: "mauve";

@import "./styles/arch-wiki/catppuccin.user.less";
@import "./styles/canvas-lms/catppuccin.user.less";
@import "./styles/chatgpt/catppuccin.user.less";
@import "./styles/duckduckgo/catppuccin.user.less";
@import "./styles/ghostty.org/catppuccin.user.less";
@import "./styles/github/catppuccin.user.less";
@import "./styles/gmail/catppuccin.user.less";
@import "./styles/google-gemini/catppuccin.user.less";
@import "./styles/google/catppuccin.user.less";
@import "./styles/learn-x-in-y-minutes/catppuccin.user.less";
@import "./styles/neovim.io/catppuccin.user.less";
@import "./styles/reddit/catppuccin.user.less";
@import "./styles/stack-overflow/catppuccin.user.less";
@import "./styles/wikipedia/catppuccin.user.less";
// @import "./styles/youtube/catppuccin.user.less";

@import "./lib/catppuccin-black.less";
